<nav class="navbar bg-primary">
    <span class="navbar-brand mb-0 h1 text-warning"><i class="fa fa-book"></i> Books Library</span>
    <ul class="nav navbar-light justify-content-end">
        <li class="nav-item"><a class="nav-link text-light" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>            
        <li class="nav-item"><a class="nav-link text-light" routerLink="/users" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Users</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/books" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Books</a></li>
    </ul>
</nav>